[Container]
ContainerName=internal_postgresql
Image=docker.io/library/postgres:latest
Secret=postgresql-password,target=/run/secrets/postgresql-password,uid=1000
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/postgresql-password
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Network=public-services.network
Volume=postgresql.volume:/var/lib/postgresql/data

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=reverse-proxy-pre.target
Requires=reverse-proxy-pre.target

[Install]
RequiredBy=reverse-proxy.target
