build/
debian/.debhelper/
debian/debhelper-build-stamp
debian/edtwardy-dns.postrm.debhelper
debian/edtwardy-dns.substvars
debian/edtwardy-dns/
debian/edtwardy-tftp.postrm.debhelper
debian/edtwardy-tftp.substvars
debian/edtwardy-tftp/
debian/edtwardy-vps.postrm.debhelper
debian/edtwardy-vps.substvars
debian/edtwardy-vps/
debian/edtwardy-webservices.postrm.debhelper
debian/edtwardy-webservices.substvars
debian/edtwardy-webservices/
debian/files
debian/tmp/
