/build/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/tmp/
/debian/*.substvars
/debian/*.postrm.debhelper

/debian/twardyece-blog/
/debian/twardyece-cimmeria/
/debian/twardyece-common/
/debian/twardyece-data/
/debian/twardyece-dependency-track/
/debian/twardyece-docs/
/debian/twardyece-homeassistant/
/debian/twardyece-jellyfin-homevideos/
/debian/twardyece-jellyfin/
/debian/twardyece-jenkins/
/debian/twardyece-miniflux/
/debian/twardyece-nginx/
/debian/twardyece-openldap/
/debian/twardyece-postgresql/
/debian/twardyece-prowlarr/
/debian/twardyece-qbittorrent/
/debian/twardyece-tandoor/
/debian/twardyece-tftp/
/debian/twardyece-vpn/
/debian/twardyece-weechat/
/debian/twardyece-yocto/
