[Unit]
Description=Webservices
After=\
    docker.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-esdk.mount
Requires=\
    docker.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-esdk.mount

[Service]
ExecStart=/bin/edtwardy-webservices start

[Install]
WantedBy=multi-user.target
