[Unit]
Description=Webservices
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
ExecStart=/bin/edtwardy-webservices start

[Install]
WantedBy=multi-user.target