[Unit]
Description=Mount for TFTP service

[Mount]
What=/home/edtwardy/Git/meta-edtwardy/build/tmp-glibc/deploy/images
Where=/mnt/Serve/tftp
Type=none
Options=bind

[Install]
WantedBy=services-pre.target
