[Container]
ContainerName=public_jellyfin-homevideos
Image=lscr.io/linuxserver/jellyfin:latest
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Environment=JELLYFIN_PublishedServerUrl=192.168.1.60
Volume=jellyfin-homevideos-config.volume:/config
Volume=/mnt/volatile/HomeVideos:/data/Movies:rw
Network=public-services.network
PublishPort=8097:8096

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=reverse-proxy-pre.target
