[Container]
ContainerName=internal_flaresolverr
Image=docker.io/flaresolverr/flaresolverr:latest
Environment=TZ=America/Chicago
Network=public-services.network

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=reverse-proxy-pre.target
