[Container]
ContainerName=public_prowlarr
Image=lscr.io/linuxserver/prowlarr:latest
Environment=TZ=America/Chicago
Volume=prowlarr-config.volume:/config
Network=public-services.network

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=reverse-proxy-pre.target
After=qbittorrent.container
