version: "3.1"
services:
  bind:
    image: "docker.io/resystit/bind9:latest"
    volumes:
      - "bind:/etc/bind:ro"
    ports:
      - "53:53"
      - "53:53/udp"

volumes:
  bind:
    external: true
