[Unit]
Description=Ethan Twardy's Web-based Services
After=\
    docker.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-esdk.mount \
    volumetric.service \
    edtwardy-jellyfin.service
Requires=\
    docker.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-esdk.mount \
    volumetric.service \
    edtwardy-jellyfin.service

[Service]
ExecStart=/bin/docker-compose -f /usr/share/edtwardy-webservices/docker-compose.yml up

[Install]
WantedBy=multi-user.target
