[Unit]
Description=Ethan Twardy's Web-based Services
After=\
    podman.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-deploy.mount \
    volumetric.service \
    edtwardy-jellyfin.service
Requires=\
    podman.service \
    network-online.target \
    mnt-Serve-yocto-sstate\x2dcache.mount \
    mnt-Serve-yocto-deploy.mount \
    volumetric.service \
    edtwardy-jellyfin.service

[Service]
Environment=DOCKER_HOST=unix://run/podman/podman.sock
ExecStart=/bin/docker-compose -f /usr/share/edtwardy-webservices/docker-compose.yml up

[Install]
WantedBy=multi-user.target
