[Unit]
Description=Autobuilder for some Jenkins projects
After=edtwardy-webservices.service
Requires=edtwardy-webservices.service

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/jenkins-builder -h https://twardyece.com/jenkins -c /etc/jenkins-builder/credentials.json
Environment=PROJECTS=Blog:Repository
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
