[Unit]
Description=Mount for Serving Yocto eSDK updates over HTTP(S)

[Mount]
What=/home/edtwardy/Git/Yocto/build/tmp/deploy/esdk-update
Where=/mnt/Serve/yocto/esdk
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
