Source: edtwardy-webservices
Section: contrib/web
Priority: optional
Maintainer: Ethan D. Twardy <ethan.twardy@gmail.com>
Build-Depends: debhelper-compat (= 13), tar (>= 1.34), buildah (>= 1.19.6)
Standards-Version: 4.5.1
Homepage: https://github.com/AmateurECE/edtwardy-webservices
Vcs-Browser: https://github.com/AmateurECE/edtwardy-webservices
Vcs-Git: https://github.com/AmateurECE/edtwardy-webservices
Rules-Requires-Root: no

Package: edtwardy-webservices
Architecture: amd64
Depends: bash (>= 5.1-2+b1), coreutils (>= 8.32-4+b1), gawk, systemd, docker-compose, ${shlibs:Depends}, ${misc:Depends}
Description: Docker infrastructure for my web services
 Docker infrastructure for my web services, as well as systemd triggers.
