Source: edtwardy-webservices
Section: contrib/web
Priority: optional
Maintainer: Ethan D. Twardy <ethan.twardy@gmail.com>
Build-Depends: debhelper-compat (= 13), tar (>= 1.34), buildah (>= 1.19.6), make (>= 4.3), renderbars (>= 0.2.1-1)
Standards-Version: 4.5.1
Homepage: https://github.com/AmateurECE/edtwardy-webservices
Vcs-Browser: https://github.com/AmateurECE/edtwardy-webservices
Vcs-Git: https://github.com/AmateurECE/edtwardy-webservices
Rules-Requires-Root: no

Package: edtwardy-webservices
Architecture: amd64
Depends: bash (>= 5.1-2+b1), coreutils (>= 8.32-4+b1), gawk, systemd, docker-compose, cron, docker-ce (>= 5:20.10.7~3-0~debian-buster), ${misc:Depends}
Description: Docker infrastructure for my web services
 Docker infrastructure for my web services, as well as systemd unit.

Package: edtwardy-vps
Architecture: all
Depends: ansible (>= 2.10.7+merged+base+2.10.8+dfsg-1), wireguard-tools (>= 1.0.20210223-1), bash (>= 5.1-2+b1), renderbars (>= 0.2.1-1), ${misc:Depends}
Description: Ansible configuration for controller node
 This package provides ansible configuration for the controller node (e.g. this
 Debian server) to manage a VPS node.
