[Unit]
Description=Jellyfin docker container
Before=edtwardy-webservices.service

[Service]
WorkingDirectory=/usr/share/edtwardy-jellyfin
ExecStart=/usr/bin/docker-compose up

[Install]
WantedBy=multi-user.target
