[Container]
ContainerName=public_reverse-proxy
Image=docker.io/library/nginx:stable-alpine
Volume=siteconf.volume:/etc/nginx/conf.d:ro
Volume=ssl-letsencrypt.volume:/etc/letsencrypt:ro
Volume=acme-challenge.volume:/var/www/certbot:ro
Volume=sitedata.volume:/var/www/sitedata:ro
Volume=/mnt/Serve/yocto/sstate-cache:/data/yocto/sstate-cache:ro
Volume=/mnt/Serve/yocto/deploy:/data/yocto/deploy:ro
PublishPort=80:80
PublishPort=443:443
PublishPort=8080:8080
Environment=TZ=America/Chicago
Network=public-services.network

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=reverse-proxy-pre.target
Requires=reverse-proxy-pre.target

[Install]
RequiredBy=reverse-proxy.target
