[Unit]
Description=Ethan Twardy's Web-based Services
After=podman.service volumetric.service
Requires=podman.service volumetric.service

[Service]
WorkingDirectory=/usr/share/twardyece/twardyece
Environment=DOCKER_HOST=unix:///run/podman/podman.sock
ExecStart=/usr/bin/twardyece-services up

[Install]
WantedBy=twardyece.target
