[Container]
ContainerName=internal_tftp
Image=docker.io/taskinen/tftp:latest
PublishPort=69:69/udp

[Service]
Restart=always
TimeoutStartSet=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=services-up.target
