[Unit]
Description=TFTP Server
After=podman.service network-online.target
Requires=podman.service network-online.target

[Service]
Environment=DOCKER_HOST=unix:///var/run/podman/podman.sock
ExecStart=/bin/docker-compose -f /usr/share/twardyece-tftp/docker-compose.yaml up

[Install]
WantedBy=twardyece.target
