[Container]
ContainerName=public_jenkins-controller
Image=docker.io/jenkins/jenkins:lts
Volume=jenkins-controller-data.volume:/var/jenkins_home
# TODO: This is a minor security risk, but is necessary in order for this
# container to be able to bind to LDAP servers with hyphens in the URI.
Environment=JENKINS_JAVA_OPTS=-Dcom.sun.jndi.ldapURLParsing=legacy
Network=public-services.network

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=reverse-proxy-pre.target
