[Unit]
Description=all containers
Requires=reverse-proxy-pre.target
Conflicts=containers-down.target
After=containers-down.target reverse-proxy-pre.target
