[Unit]
Description=%i container
After=pre-containers.target
Requires=pre-containers.target
Before=containers-up.target
Conflicts=containers-down.target

[Service]
Restart=always
RestartSec=2
WorkingDirectory=/usr/share
Environment=DOCKER_HOST=unix:///run/podman/podman.sock
ExecStart=/usr/bin/start-container %i up
ExecStopPost=/usr/bin/start-container %i down
