[Unit]
Description=Mount for WireGuard configuration

[Mount]
What=UUID=05599193-00bc-4a81-9550-54623b2ec8c4
Where=/etc/wireguard
Type=btrfs
Options=subvol=@wireguard_configs

[Install]
RequiredBy=wg-quick@.target
