[Unit]
Description=Mount for WireGuard configuration
Before=local-fs.target

[Mount]
What=LABEL=services
Where=/etc/wireguard
Type=btrfs
Options=subvol=@wireguard_configs
