[Unit]
Description=Mount for Volatile Service Data
Before=podman.service,local-fs.target

[Mount]
What=LABEL=dataset
Where=/mnt/volatile
Type=btrfs
Options=subvol=@volatile

[Install]
RequiredBy=podman.service
