[Unit]
Description=Mount for Library
Before=podman.service,local-fs.target

[Mount]
What=LABEL=services
Where=/mnt/services
Type=btrfs
Options=subvolid=5

[Install]
RequiredBy=podman.service
