[Unit]
Description=Mount for Podman Secrets

[Mount]
What=UUID=05599193-00bc-4a81-9550-54623b2ec8c4
Where=/var/lib/containers/storage/secrets
Type=btrfs
Options=subvol=@podman_secrets

[Install]
RequiredBy=podman.service
