[Container]
ContainerName=public_weechat
Image=docker.io/weechat/weechat:4.4.2
Network=public-services.network
Volume=weechat.volume:/home/user/.weechat
Exec=/usr/bin/weechat-headless -d /home/user/.weechat
PublishPort=9000:9000
PublishPort=9001:9001

[Service]
Restart=always
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target

[Install]
RequiredBy=services-up.target
