[Unit]
Description=TFTP Server
After=docker.service network-online.target mnt-Serve-tftp.mount
Requires=docker.service network-online.target mnt-Serve-tftp.mount

[Service]
ExecStart=/bin/docker-compose -f /usr/share/edtwardy-webservices/tftp.docker-compose.yml up

[Install]
WantedBy=multi-user.target
