[Unit]
Description=Mount for edtwardy-tftp service

[Mount]
What=/home/edtwardy/Git/Yocto/build/tmp/deploy/images
Where=/mnt/Serve/tftp
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
