[Container]
ContainerName=internal_package-track
Image=localhost/package-track:latest
Network=public-services.network

Secret=packages-postgresql-password,type=env,target=DATABASE_URL

Environment=MAIL_DOMAIN=ethantwardy.com
Environment=MAIL_RECIPIENT=et@ethantwardy.com
Environment=MAIL_RELAY_HOST=mail.ethantwardy.com

AddHost=mail.ethantwardy.com:10.4.0.1

[Service]
Type=oneshot
TimeoutStartSec=300

[Unit]
After=services-pre.target
Requires=services-pre.target
